.gradient-text {
  background: linear-gradient(to right, #2563eb, #9333ea);
  -webkit-background-clip: text;
   font: inherit;
  -webkit-text-fill-color: transparent;
}


.icon-white {
  color: white;
  width: 32px;
  height: 32px;
}

.icon-wrapper {
  width: 60px;         
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  margin: 0 auto;       
}


.bg-gradient-blue {
  background: linear-gradient(to right, #2563eb, #9333ea);
}

.bg-gradient-green {
  background: linear-gradient(to right, #22c55e, #3b82f6);
}

.bg-gradient-purple {
  background: linear-gradient(to right, #8b5cf6, #ec4899);
}

.custom-popular-btn {
  background-color: white;
  /* color: #495057; */
  border: 1px solid #dee2e6; 
  transition: all 0.2s ease-in-out;
}

.custom-popular-btn:hover {
  color: #2563eb; /* blue-600 */
  border-color: #93c5fd; /* blue-300 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
